<!-- Header component -->
<header appActiveEffect class="header">
  <a href="" class="logo"><i class="fas fa-shopping-basket"></i>groco</a>
  <nav class="navbar">
    <a class="navbar-link" href="">Home</a>
    <a class="navbar-link" href="">Shop</a>
    <a class="navbar-link" href="">About</a>
    <a class="navbar-link" href="">Review</a>
    <a class="navbar-link" href="">Blog</a>
    <a class="navbar-link" href="">Contact</a>
  </nav>
  <div class="icons">
    <div class="fas fa-bars" id="menu-btn"></div>
    <div class="fas fa-search" id="search-btn"></div>
    <div class="fas fa-shopping-cart" id="cart-btn"></div>
    <div class="fas fa-user" id="login-btn"></div>
  </div>
  <form class="search-form">
    <input
      type="search"
      name="search"
      id="search-box"
      placeholder="Search..."
    />
    <label for="search-box" class="far fa-search"></label>
  </form>
  <div class="shopping-cart">
    <div class="box">
      <i class="fas fa-times"></i>
      <img src="../../../assets/images/home/cart-1.jpg" alt="image" />
      <div class="content">
        <h3>organic food</h3>
        <span class="quantity">1</span>
        <span class="multiply">x</span>
        <span class="price">$18</span>
      </div>
    </div>
    <h3 class="total">Total: <span>56.97</span></h3>
    <a href="" class="btn">checkout cart</a>
  </div>
  <form class="login-form">
    <h3>login form</h3>
    <input type="text" placeholder="Nhập tên/email tài khoản ..." class="box" />
    <input type="password" placeholder="Nhập mật khẩu ..." class="box" />
    <div class="remember">
      <input type="checkbox" name="remember-me" id="remember-me" />
      <label for="remember-me">Ghi nhớ mật khẩu</label>
    </div>
    <button class="btn">Đăng nhập</button>
    <p>Quên nhập khẩu <a href="">Lấy lại mật khẩu</a></p>
    <p>Chưa có tài khoản? <a href="">Đăng ký</a></p>
  </form>
</header>
