<form [formGroup]="formRegister" (ngSubmit)="onRegister()">
  <div class="form-group">
    <label for="username">Tên tài khoản: </label>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Nhập tên tài khoản ..."
      formControlName="username"
    />
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu: </label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Nhập mật khẩu ..."
      formControlName="password"
    />
  </div>
  <button type="submit" mat-raised-button color="primary">Đăng ký</button>
</form>
